.musicListCls .top{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#392816, #3c2714,#362416,#342a1e,#1e1d1b,#1c1b19,#1c1b19,#262628,#282828);
    
}
.musicListCls .header{
    display: flex;
    align-items: center;
    padding: .36rem .3rem;
}
.musicListCls .header>span{
    flex-grow: 1;
    font-size: .36rem;
    color:#fff;
    text-align: center;
}
.musicListCls .header>img:nth-of-type(1){
    width: .44rem;
    height: .44rem;
}
.musicListCls .header>img:nth-of-type(2){
    width: .48rem;
    height: .48rem;
}
.musicListCls .header>img:nth-of-type(3){
    width: .42rem;
    height: .42rem;
    margin-left: .46rem;
}

.musicListCls .listInfo{
    display: flex;
    padding: .26rem .3rem;
}
.musicListCls .listInfo>img{
    width: 2.46rem;
    height: 2.46rem;
}
.musicListCls .listInfo>div{
    padding: .3rem;
    
}
.musicListCls .listInfo>div>p:nth-of-type(1){
    font-size: .36rem;
    color:#fff;
}
.musicListCls .listInfo>div>p:nth-of-type(2){
    font-size: .28rem;
    color:#b9b9b9;
    margin: .4rem 0;
}
.musicListCls .listInfo>div>p:nth-of-type(2)>img{
    width: .13rem;
    height: .22rem;
}


.musicListCls>.top>ul{
    display: flex;
    justify-content: space-around;
    padding: 0 .2rem .18rem;

}
.musicListCls>.top>ul>li{
    font-size: .24rem;
    color:#fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.musicListCls>.top>ul>li>img:nth-of-type(1){
    width: .4rem;
    height: .36rem;
    margin-bottom: .2rem;
}
.musicListCls>.top>ul>li>img:nth-of-type(2){
    width: .43rem;
    height: .39rem;
    margin-bottom: .2rem;
}
.musicListCls>.top>ul>li>img:nth-of-type(3){
    width: .4rem;
    height: .36rem;
    margin-bottom: .2rem;
}
.musicListCls>.top>ul>li>img:nth-of-type(4){
    width: .42rem;
    height: .36rem;
    margin-bottom: .2rem;
}



.musicListCls>div:nth-of-type(2){
    display: flex;
    align-items: center;
    padding: .34rem;
}
.musicListCls>div:nth-of-type(2)>img:nth-of-type(1){
    width: .4rem;
    height: .4rem;
    margin-right: .32rem;
}
.musicListCls>div:nth-of-type(2)>span:nth-of-type(1){
    font-size: .34rem;
    font-family: SimHei;
}
.musicListCls>div:nth-of-type(2)>span:nth-of-type(3){
    font-size: .28rem;
}
.musicListCls>div:nth-of-type(2)>span:nth-of-type(2){
    font-size: .26rem;
    color:#a6a7a9;
    flex-grow: 1;
}
.musicListCls>div:nth-of-type(2)>img:nth-of-type(2){
    width: .27rem;
    height: .24rem;
    margin-right: .1rem;
}


.musicListCls>ul>li{
    display: flex;
    align-items: center;
}
.musicListCls>ul>li>span{
    color: #9fa0a2;
    font-size: .26rem;
    margin: 0 .34rem;
}
.musicListCls>ul>li>div{
    border-top: .01rem solid #9fa0a2;
    display: flex;
    height: 1.1rem;
    align-items: center;
    flex-grow: 1;
}
.musicListCls>ul>li>div>div{
    flex-grow: 1;
}
.musicListCls>ul>li>div>div>p{
    font-size: .34rem;
    font-family: SimHei;
    margin-bottom: .12rem;
}
.musicListCls>ul>li>div>div>span{
    color: #9fa0a2;
    font-size: .24rem;
}
.musicListCls>ul>li>div>img{
    width: .39rem;
    height: .32rem;
    margin-right: .4rem;
}


.listFooter{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: .15rem .15rem .15rem 0;
    width:100%;
    background-color: #383838;
}
.listFooter img{
    /* width: .9rem; */
    height: .77rem;
}